* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Lato', sans-serif;
}

h4 {
  font-size: 18px;
}

.th1 {
  color: #0C7C79;
  margin-left: 3%;
  margin-top: 7%;
}

.p1 {
  color: #FFFFFF;
  margin-left: 6%;
  margin-right: 6%;
}

.th2 {
  color: #0C7C79;
  margin-top: 1%;
  margin-left: 45%;
}

.p2 {
  color: #FFFFFF;
  margin-left: 20%;
}

.sobre {
  margin-left: 64%;
  font-size: 18px;
  color: #0C7C79;
}

.sobre:hover {
  -webkit-transition: .6s ease;
  transition: .6s ease;
  text-decoration: none;
  color: #3C0B66;
}

.th3 {
  margin-top: 8%;
  color: #0C7C79;
  margin-left: 6%;
}

.p3 {
  color: #FFFFFF;
  margin-left: 10%;
}

.pesquisa {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 50px;
  border-color: #0C7C79;
}

.pesquisa2 {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 50px;
  border: none;
}

.pesquisa2:hover {
  -webkit-transition: .6s ease;
  transition: .6s ease;
  color: #3C0B66;
}

.link {
  color: #FFFFFF;
}

.link:hover {
  -webkit-transition: .6s ease;
  transition: .6s ease;
  text-decoration: none;
  color: #3C0B66;
  transition: .6s ease;
}

.menu {
  width: 100%;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.objetos {
  position: absolute;
  margin-left: 28%;
  font-size: 18px;
  color: #0C7C79;
  border-radius: 40px;
  width: 130px;
  height: 30px;
}

.objetos:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  text-decoration: none;
  color: #3C0B66;
}

.me {
  position: absolute;
  color: #0C7C79;
  margin-top: 10px;
  margin-left: 60%;
}

.me:hover {
  text-decoration: none;
  color: #3C0B66;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.texto2 {
  margin-top: 150px;
}

footer {
  margin-top: 20%;
}

.select {
  color: #0C7C79;
}

.select:hover {
  text-decoration: none;
  color: #3C0B66;
  font-size: 20px;
  position: relative;
  margin-left: -5px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.paragrafo {
  color: #FFFFFF;
}

.sexo {
  color: white;
  margin-top: 10px;
}

p {
  color: white;
}

.th {
  color: #0C7C79;
}

.materias {
  font-size: 14px;
  margin-top: 10px;
  color: white;
}

.p1 {
  font-size: 18px;
  margin-top: 10px;
}

.inp {
  background-color: #000000;
  border-radius: 50px;
  color: #FFFFFF;
  border-color: #0C7C79;
}

.salvar {
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 50px;
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border-color: #0C7C79;
}

main {
  width: 100%;
  background-color: #000000;
}

@media screen and (max-width: 576px) {
  .pesquisa2 {
    display: none;
  }
  .pesquisa {
    display: none;
  }
}

.inp {
  width: 360px;
}

@media screen and (max-width: 1199px) {
  .inp {
    width: 300px;
  }
}

@media screen and (max-width: 991px) {
  .inp {
    width: 330px;
  }
}

@media screen and (max-width: 767px) {
  .inp {
    width: 240px;
  }
}

@media screen and (max-width: 620px) {
  .inp {
    width: 240px;
  }
}

@media screen and (max-width: 520px) {
  .inp {
    width: 190px;
  }
}

@media screen and (max-width: 420px) {
  .inp {
    width: 153px;
  }
}

@media screen and (max-width: 320px) {
  .inp {
    width: 130px;
  }
}

.fundo {
  background-color: #000000;
}
/*# sourceMappingURL=style.css.map */