*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}

@import 'sass/color';
@import 'sass/typography';

main{
    width: 100%;
    

    background-color: $black-normal;
}


@import 'sass/layout';

