$black-normal: #000000;
$black-dark: #0F0F0F;
$black-light: #2E2E2E;


$white-normal: #FFFFFF;
$white-dark: #EFEFEF;
$white-light: #DEDEDE;


$ciano-normal: #0C7C79;
$ciano-dark: #052D32;
$ciano-light: #085457;


$Purple-normal: #3C0B66;
$Purple-dark: #1D0429;
$Purple-light: #2E0847;
$Purple-light2: #5F3A7E;
