@media screen and (max-width: 576px){
    .pesquisa2{
        display: none;
    }
    .pesquisa{
        display: none;
    }
}


.inp{
    width: 360px;
}


@media screen and (max-width: 1199px){
    .inp{
        width: 300px;
    }
}

@media screen and (max-width: 991px){
    .inp{
        width: 330px;
    }
}

@media screen and (max-width: 767px){
    .inp{
        width: 240px;
    }
}

@media screen and (max-width: 620px){
    .inp{
        width: 240px;
    }
}

@media screen and (max-width: 520px){
    .inp{
        width: 190px;
    }
}

@media screen and (max-width: 420px){
    .inp{
        width: 153px;
    }
}

@media screen and (max-width: 320px){
    .inp{
        width: 130px;
    }
}


.fundo{
    background-color: $black-normal;
}