@media screen and (max-width: 576px){
    .pesquisa2{
        display: none;
    }
    .pesquisa{
        display: none;
    }
    .th2{
        margin-left: 48%;
    }

    .pf{
        font-size: 16px;
        margin-left: 0px;
    }

    .link{
        font-size: 14px;
    }
    .inp{
        width: 240px;
    }

}


.fundo{
    background-color: $black-normal;
}

@media screen and (max-width: 1200px){
    .inp{
        width: 400px;
    }
}


@media screen and (min-width: 768px){
    .inp{
        width: 250px;
    }
}

@media screen and (min-width: 1200px){
    .inp{
        width: 400px;
    }
}