@media screen and (max-width: 576px){
    .pesquisa{
        display: none;
    }
}

@media screen and (max-width: 576px){
    .pesquisa2{
        display: none;
    }
}


.fundo{
    background-color: $black-normal;
}

@media screen and (max-width: 576px){
    .th2{
        margin-left: 48%;
    }
}