h1, h2, h3, h4, h5, h6, p{
    font-family: 'Noto Serif' sans-serif;
}
.link{
    font-size: 18px;
}

.pesquisa{
    font-size: 20px;
}

.main{
    font-size: 20px;
}

h1{
    color: $ciano-light;
    font-size: 72px;
}
h2{
    color: $ciano-light;
    font-size: 56px;
}

p{
    color: $white-normal;
}
